<!--Header-->
<nav class="navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<ul class="nav navbar-nav pull-left">
		        <li><a href="#">Welcome</a></li>
		        <li><a href="#">Porfolio</a></li>
		        <li><a href="#">Blog</a></li>
		        <li><a href="#">About</a></li>
		        <li><a href="#">Contact</a></li>
		    </ul>
		    <ul class="nav navbar-nav pull-right">
    			<li><a href="#">Roger Ximenez</a></li>
    		</ul>
		</div>
	</div>
</nav>

<!--Main Jumbotron-->
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Beautiful Websites.<br />Digital Marketing Strategy<br />Customer Acqusition.</h1>
				<div class="btn">View My Work</div>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-md-offset-9">
				<a href="https://www.facebook.com/roger.ximenez.3">
					<%= image_tag "facebook.png" %>
				</a>
				<a href="https://twitter.com/RogerXimenez">
					<%= image_tag "twitter.png" %>
				</a>
				<a href="www.linkedin.com/in/rogerximenez/en">
					<%= image_tag "linkedin.png" %>
				</a>
				<a href="https://github.com/rogerximenez">
					<%= image_tag "github.png" %>
				</a>
				<div class="pull-right">Copy Right</div>
			</div>
		</div>
	</div>
</div>